<div class="header">
    <div class="left-section">
        <img src="../static/images/logo.png" alt="Logo" id="logo">
        <h3 class="">{{ pagetitle }}</h3>
        <input type="text" placeholder="Search..." id="search-bar">
        <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
    </div>
    <div class="navbar">
        <a href="/students" id="view-students">
            <i class="fa fa-eye"></i> View Students
        </a>
        <a href="#" id="view-attendance">
            <i class="fa fa-calendar-check"></i> View Attendance
        </a>
        <a href="/addstudent" id="add-student">
            <i class="fa fa-plus"></i> Add Student
        </a>
    </div>
    <a href="/logout" id="logout">
        <i class="fa fa-sign-out-alt"></i>
    </a>
</div>
