{% extends 'base.html' %}

{% block content %}
        <div class="login-container">
            <form method="POST" action="{{ url_for('login') }}" id="loginForm">
                <h1 class="title">{{pagetitle}}</h1>
                <div class="input-container">
                    <input type="text" name="username" id="username" placeholder="Username">
                    <i class="fas fa-user icon user"></i>
                </div>
                
                <div class="input-container">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <i class="fas fa-eye-slash icon toggle-password" id="togglePassword"></i>
                </div>
                
                <div class="input-container">
                    <input type="submit" value="Login" class="btn">
                </div>
            </form>
        </div>

<script>
    
document.getElementById("togglePassword").addEventListener("click", function () {
        const passwordField = document.getElementById("password");
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);
        
        if (type === "password") {
            this.classList.remove("fa-eye");
            this.classList.add("fa-eye-slash");
        } else {
            this.classList.remove("fa-eye-slash");
            this.classList.add("fa-eye");
        }
    });

    

</script>

</div>


{% endblock %}