{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}


<div class="w3-row-padding" id="main_container" style="height: 100vh;">
    <div class="w3-full" style="padding: 1rem 3%;">
        <!-- Wrapper for horizontal scrolling -->
        <div class="styled-table-wrapper">
            <table class="w3-table-all styled-table" id="table">
                <thead>
                    <tr id="tr1">
                        <th class="w3-center">IDNO</th>
                        <th class="w3-center">LASTNAME</th>
                        <th class="w3-center">FIRSTNAME</th>
                        <th class="w3-center">COURSE</th>
                        <th class="w3-center">LEVEL</th>
                        <th class="w3-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr id="tr2">
                        <td class="w3-center" data-cell="IDNO:"><a>{{ user["idno"] }}</a></td>
                        <td class="w3-center" data-cell="LASTNAME:">{{ user["lastname"] }}</td>
                        <td class="w3-center" data-cell="FIRSTNAME:">{{ user["firstname"] }}</td>
                        <td class="w3-center" data-cell="COURSE:">{{ user["course"] }}</td>
                        <td class="w3-center" data-cell="LEVEL:">{{ user["level"] }}</td>
                        <td class="w3-center" data-cell="ACTION:">
                            <button class="w3-button w3-red delete-btn delete" onclick="openCustomAlert('{{ user['idno'] }}')">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




<div id="customAlert" style="display: none;">
    <div class="alert-content">
        <h3>Are you sure you want to delete this student?</h3>
        <div class="alert-buttons">
            <form method="post" action="/delete_user" id="deleteForm">
                <input type="hidden" id="deleteIdNo" name="idno">
                <button type="submit" class="confirm-btn w3-red w3-button">Confirm</button>
            </form>
            <button class="cancel-btn w3-blue w3-button w3-margin-top w3-margin-bottom" onclick="closeAlert()">Cancel</button>
        </div>
    </div>
</div>

<script>
    function openCustomAlert(idno) {
        document.getElementById('deleteIdNo').value = idno;
        document.getElementById('customAlert').style.display = 'flex'; 
    }

    function closeAlert() {
        document.getElementById('customAlert').style.display = 'none';
    }

    (function () {
        if (window.history && window.history.pushState) {
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, null, window.location.href);
            };
        }
    })();
</script>

{% endblock %}
