{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}


<div id="timestamp"></div> 

<div id="main_container" style="height: 100vh;">
    <div class="w3-full" style="padding: 1rem 3%;">

        <!-- Wrapper for horizontal scrolling -->
        <div class="styled-table-wrapper">
            <table class="styled-table" id="table">
                <thead>
                    <tr id="tr1">
                        <th>IDno</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>Course</th>
                        <th>Level</th>
                        <th class="w3-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr id="tr2">
                        <td class="w3-center" data-cell="IDNO:" id="idno">
                            <a href="#" style="color: #2196F3; font-size: 1.1rem" onclick="viewStudent('{{ user['idno'] }}')">{{ user['idno'] }}</a>
                        </td>
                        
                        <td class="w3-center" data-cell="LASTNAME:">{{ user["lastname"] }}</td>
                        <td class="w3-center" data-cell="FIRSTNAME:">{{ user["firstname"] }}</td>
                        <td class="w3-center" data-cell="COURSE:">
                            <span class="course-style course-{{ user['course']|lower }}">
                                {{ user["course"] }}
                            </span>
                        </td>
                        
                        
                        <!-- Apply class to the Level column based on the level value -->
                        <td class="w3-center level-{{ user['level'] }}" data-cell="LEVEL:">{{ user["level"] }}</td>
                        
                        <td class="w3-center" data-cell="ACTION:" style="display: flex; align-items: center; justify-content: center; gap: 1rem;">
                            <button class="w3-button w3-amber edit-btn edit" onclick="openEditModal('{{ user['idno'] }}', '{{ user['lastname'] }}', '{{ user['firstname'] }}', '{{ user['course'] }}', '{{ user['level'] }}')">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="w3-button w3-red delete-btn delete" onclick="openCustomAlert('{{ user['idno'] }}')">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="viewModal" class="view-modal" style="display: none;">
    <div class="view-modal-content w3-card-4">
        <div class="description" style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid black; padding: 10px;">
            <p style="text-align: center; flex-grow: 1; margin: 0; color: #2196F3; font-size: 18px;">Student Description</p>
            <i class="fas fa-times w3-right" onclick="closeViewModal()" style="cursor: pointer; font-size: 25px; margin-top: -0.9rem; color: red;"></i>
        </div>
        <p class="w3-center w3-padding">
            <div class="view-image">
                <img id="image-view" class="image" />
                <img id="qr-view" class="image" />
            </div>
        </p>
        <form method="post" action="/addstudent" enctype="multipart/form-data">
            <input type="hidden" name="flag" id="flag" value="0"> 
            <input type="hidden" id="idno" name="idno">
            <p>
                <label><b>IDNO</b></label>
                <input type="text" id="idno-view" name="idno" class="w3-input" readonly>
            </p>
            <p>
                <label><b>LASTNAME</b></label>
                <input type="text" id="lastname-view" name="lastname" class="w3-input" readonly>
            </p>
            <p>
                <label><b>FIRSTNAME</b></label>
                <input type="text" id="firstname-view" name="firstname" class="w3-input" readonly>
            </p>
            <p>
                <label><b>COURSE</b></label>
                <input type="text" id="course-view" name="course" class="w3-input" readonly>
            </p>
            <p>
                <label><b>LEVEL</b></label>
                <input type="text" id="level-view" name="level" class="w3-input" readonly>
            </p>
        </form>
    </div>
</div>

<!-- Edit Modal -->
<div id="editModal" class="view-modal" style="display: none;">
    <div class="view-modal-content w3-card-4">
        <div class="description" style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid black; padding: 10px;">
            <p style="text-align: center; flex-grow: 1; margin: 0; color: #2196F3; font-size: 18px;">Edit Student</p>
            <i class="fas fa-times w3-right" onclick="closeEditModal()" style="cursor: pointer; font-size: 25px; margin-top: -0.9rem; color: red;"></i>
        </div>
        <form method="post" action="/edit_student" enctype="multipart/form-data">
            <p>
                <label><b>IDNO</b></label>
                <input type="text" id="edit-idno-view" name="idno" class="w3-input" readonly>
            </p>
            <p>
                <label><b>LASTNAME</b></label>
                <input type="text" id="edit-lastname-view" name="lastname" class="w3-input">
            </p>
            <p>
                <label><b>FIRSTNAME</b></label>
                <input type="text" id="edit-firstname-view" name="firstname" class="w3-input">
            </p>
            <p>
                <label><b>COURSE</b></label>
                <select id="edit-course-view" name="course" class="w3-select">
                    <option value="" disabled>Select Course</option>
                    <option value="BSIT" class="option-bsit">BSIT</option>
                    <option value="BSCPE" class="option-bscpe">BSCPE</option>
                    <option value="BSCS" class="option-bscs">BSCS</option>
                    <option value="BSBA" class="option-bsba">BSBA</option>
                    <option value="BSHM" class="option-bshm">BSHM</option>
                    <option value="BSEE" class="option-bsee">BSEE</option>
                    <option value="BSECE" class="option-bsece">BSECE</option>
                    <option value="BSAgri" class="option-bsagri">BSAgri</option>
                    <option value="BSPsy" class="option-bspcy">BSPsy</option>
                    <option value="BSNurs" class="option-bsnurs">BSNurs</option>
                </select>
            </p>
            <p>
                <label><b>LEVEL</b></label>
                <select id="edit-level-view" name="level" class="w3-select">
                    <option value="" disabled>Select Level</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </p>
            <button type="submit" class="w3-button w3-blue">Save Changes</button>
        </form>
    </div>
</div>



<div id="customAlert" style="display: none;">
    <div class="alert-content">
        <h3>Are you sure you want to delete this student?</h3>
        <div class="alert-buttons">
            <form method="post" action="/delete_user" id="deleteForm">
                <input type="hidden" id="deleteIdNo" name="idno">
                <button type="submit" class="confirm-btn w3-red w3-button">Confirm</button>
            </form>
            <button class="cancel-btn w3-blue w3-button w3-margin-top w3-margin-bottom" onclick="closeAlert()">Cancel</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/studentlist.js') }}"></script>
{% endblock %}
